<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Found</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <style type="text/css">
        body {
            font-family: 'Open Sans', sans-serif;
        }

        .wrapper {
            max-width: 1200px;
            padding: 188px 20px 20px 20px;
            margin: 0 auto;
            text-align: center;
        }

        .image-wrap {
            max-width: 996px;
        }

        .nf-image-wrap img {
            width: 100%;
            display: block;
            margin-bottom: 86px;
        }

        .nf-title {
            margin-bottom: 20px;
            font-size: 36px;
            font-weight: 800;
            text-align: center;
            color: #263238;
        }

        .nf-link {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: #ffb200;
            text-decoration: none;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <div class="nf-image-wrap">
        <img src="/404.png">
    </div>
    <div class="nf-title">Страница ушла в закат</div>
    <a class="nf-link" href="https://letyshops.com">Перейти на <u>главную</u></a>
</div>
</body>
</html>